## Deliverable 3. Create a Travel Itinerary Map.

In [18]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [27]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")

# vacation_df.head()
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,Thompson,CA,10.56,overcast clouds,55.7435,-97.8558,Burntwood Hotel
1,23,Khatanga,RU,9.00,overcast clouds,71.9667,102.5000,"""Khatanga"""
2,49,Deputatskiy,RU,6.60,overcast clouds,69.3000,139.9000,Baza Otdykha
3,50,Flin Flon,CA,18.82,overcast clouds,54.7682,-101.8650,Victoria Inn Flin Flon
4,67,Longyearbyen,SJ,17.44,broken clouds,78.2186,15.6401,"Radisson Blu Polar Hotel, Spitsbergen"

In [20]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and Temp Max {Max Temp} °C</dd>
</dl>
"""


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [21]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Great Falls")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Great Falls")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="North Platte")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Cheyenne")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Price")]

In [68]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start[["Lat","Lng"]].to_numpy()[0]
end = vacation_end[["Lat","Lng"]].to_numpy()[0]

stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()[0] 
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()[0]

In [69]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
travel= gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode="DRIVING")
fig.add_layer(travel)
fig

Figure(layout=FigureLayout(height='420px'))

In [71]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
#itinerary_df = pd.concat([],ignore_index=True)
#itinerary_df

itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,74,Great Falls,US,16.25,overcast clouds,47.5002,-111.3008,La Quinta Inn & Suites by Wyndham Great Falls
1,611,North Platte,US,28.29,clear sky,41.1239,-100.7654,"Holiday Inn Express & Suites North Platte, an ..."
2,128,Cheyenne,US,22.77,clear sky,41.1400,-104.8203,The Historic Plains Hotel & Restaurant
3,664,Price,US,29.12,clear sky,39.5994,-110.8107,National 9 - Price River Inn

In [72]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and Temp Max {Max Temp} °C</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [73]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
travel_marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(travel_marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))